﻿@using HtmlHelpers.BeginCollectionItemCore;
@model BrowserTravel.Test.WebAplication.Models.AuthorViewModel

<li style="padding-bottom:15px">
    @using (Html.BeginCollectionItem("AuthorList"))
    {
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nombre</label>
            <input asp-for="Name" class="form-control" placeholder="Digite Nombre" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Surname" class="control-label">Apellidos</label>
            <input asp-for="Surname" class="form-control" placeholder="Digite Apellidos"/>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <a href="#" onclick="$(this).parent().remove()">Eliminar</a>

    }
</li>
