﻿@model BrowserTravel.Test.WebAplication.Models.BookDetailViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h3 class="display-4">@Html.Raw(ViewBag.Message)</h3>
</div>

<h1>Crear</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label">ISBN</label>
                <input asp-for="ISBN" class="form-control" placeholder="Digite ISBN"/>
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Titulo</label>
                <input asp-for="Title" class="form-control" placeholder="Digite Titulo" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synapse" class="control-label">Sinapsis</label>
                <input asp-for="Synapse" class="form-control" placeholder="Digite Sinapsis"/>
                <span asp-validation-for="Synapse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberPages" class="control-label">N° Paginas</label>
                <input asp-for="NumberPages" class="form-control" placeholder="Digite N° Paginas"/>
                <span asp-validation-for="NumberPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editorial" class="control-label">Editorial</label>
                <input asp-for="Editorial" class="form-control" placeholder="Digite Editorial"/>
                <span asp-validation-for="Editorial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campus" class="control-label">Sede</label>
                <input asp-for="Campus" class="form-control" placeholder="Digite Sede"/>
                <span asp-validation-for="Campus" class="text-danger"></span>
            </div>
            <div>
                <div>
                    <label>Autores</label>
                </div>
                @if (Model.AuthorList == null || Model.AuthorList.Count == 0)
                {
                    <p>Ninguno</p>
                }
                <ul id="authorEditor" style="list-style-type: none">
                    @if(Model.AuthorList != null)
                    {
                        @foreach (AuthorViewModel author in Model.AuthorList)
                        {
                            Html.RenderPartial("AuthorEntryRow", author);
                        }
                    }
                    <a id="addAuthor" href="#">Agregar Autor</a>
                </ul>
            </div>            
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        alert("Hola!");
        $(this.document).ready(function () {
            console.log('Entro');
            $("#authorEditor").sortable();
            $("#addAuthor").on("click", function () {
                $.ajax({
                    url: '@Url.Action("AuthorEntryRow", "Book")',
                    success: function (response) {
                        $("#authorEditor").append(response);
                    }
                    error: function () {
                         alert("error occured");
                    }
                });
                @*$.get('@Url.Action("AuthorEntryRow","Book")', function (template) {
                    $("#authorEditor").append(template);
                });*@
            });
        });
    </script>
}
