﻿@model BrowserTravel.Test.WebAplication.Models.BookDetailViewModel

<div class="text-center">
    <h3 class="display-4">@Html.Raw(ViewBag.Message)</h3>
</div>

<h3>¿Estás segura de que quieres eliminar el libro?</h3>
<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Synapse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Synapse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Elimiar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
