﻿@model BrowserTravel.Test.WebAplication.Models.BookDetailViewModel

<div class="text-center">
    <h3 class="display-4">@Html.Raw(ViewBag.Message)</h3>
</div>

<div>
    <h4>Detalle Libro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Synapse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Synapse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Editorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campus)
        </dd>
        @Html.Label("Autores")
        <br />
        <br />
        @if (Model.AuthorList == null || Model.AuthorList.Count == 0)
        {
            <p>Ninguno</p>
        }
        @if (Model.AuthorList != null)
        {
            <dl class="row">
                @foreach (AuthorViewModel author in Model.AuthorList)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayName(author.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Display(author.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayName(author.Surname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Display(author.Surname)
                    </dd>
                }
            </dl>            
        }           
    </dl>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
