﻿@using Microsoft.AspNetCore.Http
@model IEnumerable<BrowserTravel.Test.WebAplication.Models.BookViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h3 class="display-4">@Html.Raw(ViewBag.Message)</h3>
</div>

<h1>Libros</h1>
@if (ViewBag.Token != null)
{
    <p>
        <a asp-action="Create">Crear Libro</a>
    </p>
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EditorialId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Synapse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberPages)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditorialId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Synapse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberPages)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ISBN }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ISBN })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
